body {
    background: #faf9f9;
}

.van-list__error-text, .van-list__finished-text, .van-list__loading {
    color: #969799;
    font-size: 14px;
    line-height: 50px;
    text-align: center
}

.van-list__placeholder {
    height: 0;
    pointer-events: none
}

.buy-list .buy-item {
    padding: 10px;
    height: 80px;
    position: relative
}

.buy-list .buy-item .goods-pic {
    width: 80px;
    float: left;
    margin-right: 5px
}

.buy-list .buy-item h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0
}

.buy-list .buy-item p {
    font-size: 12px;
    margin: 3px 0 0;
    color: #666
}

.buy-list .buy-item p span {
    color: #0d7cf1
}

.buy-list .buy-item p:last-child {
    color: #fd7722
}

.buy-list .buy-item .process {
    height: 5px;
    background: #f0f0f0;
    border-radius: 5px;
    width: -webkit-calc(100vw - 210px);
    width: calc(100vw - 210px);
    float: left;
    margin-top: 8px
}

.buy-list .buy-item .process>div {
    height: 5px;
    background: #fd7722;
    border-radius: 5px;
    -webkit-transition: width .2s ease-out;
    transition: width .2s ease-out
}

.buy-list .buy-item .collect-btn {
    position: absolute;
    width: 30px;
    right: 10px;
    bottom: 10px
}

.finished-tip {
    text-align: center;
    font-size: 14px;
    color: #999;
    line-height: 2
}
