* {
    margin: 0;
    padding: 0
}

body {
    background: #eaeaea;
}

#app {
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media only screen and (min-width:600px) {
    body {
        max-width: 600px;
        margin: 0 auto
    }
    .plist {
        margin-left: 50px;
        overflow: hidden
    }
    .barcode-item .goods-pic {
        width: 30vw;
        min-height: 120px;
        height: unset!important;
        display: block;
        margin: 5px auto;
        max-width: 50%;
    }
    .barcode-item {
        height: unset!important;
        height: 240px;
    }
    .van-tabbar--fixed {
        width: 600px;
        margin: 0 auto
    }
}

html::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color: #d6d4d4
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, .4)
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f5f5f5
}

.van-notice-bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    color: #ed6a0c;
    font-size: 14px;
    line-height: 24px;
    background-color: #fffbe8
}

.van-notice-bar__left-icon, .van-notice-bar__right-icon {
    min-width: 22px;
    font-size: 16px
}

.van-notice-bar__right-icon {
    text-align: right
}

.van-notice-bar__wrap {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 24px;
    overflow: hidden
}

.van-notice-bar__content {
    position: absolute;
    white-space: nowrap
}

.van-notice-bar__content.van-ellipsis {
    max-width: 100%
}

.van-notice-bar__play {
    -webkit-animation: van-notice-bar-play linear both;
    animation: van-notice-bar-play linear both
}

.van-notice-bar__play--infinite {
    -webkit-animation: van-notice-bar-play-infinite linear infinite both;
    animation: van-notice-bar-play-infinite linear infinite both
}

.van-notice-bar--wrapable {
    height: auto;
    padding: 8px 16px
}

.van-notice-bar--wrapable .van-notice-bar__wrap {
    height: auto
}

.van-notice-bar--wrapable .van-notice-bar__content {
    position: relative;
    white-space: normal;
    word-wrap: break-word
}

@-webkit-keyframes van-notice-bar-play {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes van-notice-bar-play {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-webkit-keyframes van-notice-bar-play-infinite {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes van-notice-bar-play-infinite {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.van-tabbar-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #7d7e80;
    font-size: 12px;
    line-height: 1
}

.van-tabbar-item__icon {
    position: relative;
    margin-bottom: 5px;
    font-size: 18px
}

.van-tabbar-item__icon .van-icon {
    display: block;
    min-width: 1em
}

.van-tabbar-item__icon img {
    display: block;
    height: 18px
}

.van-tabbar-item--active {
    color: #354171
}

.van-tabbar-item .van-info {
    margin-top: 2px
}

.van-tabbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: content-box;
    /**width:100%;**/
    height: 50px;
    background-color: #fff
}

.van-tabbar--fixed {
    position: fixed;
    bottom: 0;
    left: inherit;
    width: 100%;
    max-width: 600px;
}

.van-tabbar--safe-area-inset-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom)
}

.home {
    padding-bottom: 50px;
    padding-top: 5px
}

.notice-bar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: -webkit-fill-available;
    background: rgb(255 199 0 / 30%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.barcode-item {
    width: 49%;
    height: 240px;
    max-height: 240px;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
    background: #fff;
    border-radius: 10px;
    margin-left: 1%;
    margin: 0.5%;
    margin-bottom: 0.5%;
}

.barcode-item .goods-pic {
    width: 30vw;
    height: 30vw;
    display: block;
    margin: 5px auto;
}

.barcode-item .goods-info h3 {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0
}

.barcode-item .goods-info p {
    font-size: 12px;
    margin: 0;
    color: #999
}

.barcode-item .opening-tip {
    text-align: center;
    color: #fd7722;
    padding-top: 10px;
}

.barcode-item .user-info {
    height: 40px
}

.barcode-item .user-info>img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px
}

.barcode-item .user-info h4 {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin: 0
}

.barcode-item .user-info p {
    font-size: 12px;
    color: #999;
    margin: 0
}

.barcode-item .user-info p span {
    color: #fd7722
}

.barcode-item .barcode-info {
    font-size: 12px;
    color: #999;
    padding: 10px 0
}

.barcode-item .barcode-info p {
    margin: 0
}

.van-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

@font-face {
    font-weight: 400;
    font-family: vant-icon;
    font-style: normal;
    font-display: auto;
    src: url(https://img.yzcdn.cn/vant/vant-icon-0bc654.woff2) format("woff2"), url(https://img.yzcdn.cn/vant/vant-icon-0bc654.woff) format("woff"), url(https://img.yzcdn.cn/vant/vant-icon-0bc654.ttf) format("truetype")
}

.van-icon {
    position: relative;
    font: 14px/1 vant-icon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}

.van-icon-user-circle-o:before {
    content: "\F0D3"
}

.van-icon, .van-icon:before {
    display: inline-block
}

.van-icon-gift-o:before {
    content: "\F0DB"
}

.van-icon-balance-o:before {
    content: "\F013"
}

.van-icon-contact:before {
    content: "\F03E"
}

.van-icon-tqkj:before {
    content: "\F0D0"
}

.testA {
    display: none;
}

.plist {
    padding-top: 35px;
    display: flow-root;
}

.notice-bar .van-notice-bar__content {
    color: #000000;
    animation-delay: 1s;
    animation-duration: 30s;
    padding-left: 0px;
}

.none {
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .barcode-item {
        height: 240px;
    }
    .barcode-item .goods-pic {
        height: 120px;
    }
}

.mescroll-downwarp .downwarp-progress, .mescroll-upwarp .upwarp-progress {
    display: inline-block;
    width: .43rem;
    height: .43rem;
    border-radius: 50%;
    border: .03rem solid grey;
    border-bottom-color: transparent;
    vertical-align: middle;
}

.mescroll-rotate {
    -webkit-animation: mescrollRotate .6s linear infinite;
    animation: mescrollRotate .6s linear infinite;
}

.mescroll-downwarp .downwarp-tip, .mescroll-upwarp .upwarp-tip {
    margin-left: .21rem;
}

.mescroll-downwarp .downwarp-tip, .mescroll-upwarp .upwarp-nodata, .mescroll-upwarp .upwarp-tip {
    display: inline-block;
    font-size: .32rem;
    color: grey;
    vertical-align: middle;
}

.van-notice-bar__content {
    position: absolute;
    white-space: nowrap;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.animate {
    padding-left: 20px;
    color: #000;
    display: inline-block;
    white-space: nowrap;
    animation: 30s wordsLoop linear infinite normal;
}

@keyframes wordsLoop {
    0% {
        transform: translateX(90%);
        -webkit-transform: translateX(90%);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes wordsLoop {
    0% {
        transform: translateX(90%);
        -webkit-transform: translateX(90%);
    }
    100% {
        transform: translateX(-90%);
        -webkit-transform: translateX(-90%);
    }
}


/* 适配iphonex */

@supports (bottom: env(safe-area-inset-bottom)) {
    .van-hairline--top-bottom {
        height: calc(50px + constant(safe-area-inset-bottom));
        height: calc(50px + env(safe-area-inset-bottom));
    }
}
