.pc {
    max-width: 1350px;
    min-width: 1100px;
    margin: 0 auto
}

.pc .page-box {
    width: 33.33%;
    height: 100vh;
    box-sizing: border-box;
    border-right: 1px solid #efefef;
    float: left
}

.pc .page-box .page-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: #f664bf;
    position: relative
}

.pc .page-box .page-title div {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    line-height: 45px;
    padding: 0 10px
}

.pc .page-box .page-title div i {
    position: relative;
    top: 2px
}

.pc .page-box iframe {
    width: 100%;
    height: -webkit-calc(100vh - 45px);
    height: calc(100vh - 45px);
    border: none
}

body {
    max-width: 600px;
    margin: 0 auto;
    background: #faf9f9;
}

.van-cell-group a {
    line-height: normal;
    color: #505050;
}

.van-tabbar-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #7d7e80;
    font-size: 12px;
    line-height: 1
}

.van-tabbar-item__icon {
    position: relative;
    margin-bottom: 5px;
    font-size: 18px
}

.van-tabbar-item__icon .van-icon {
    display: block;
    min-width: 1em
}

.van-tabbar-item__icon img {
    display: block;
    height: 18px
}

.van-tabbar-item--active {
    color: #354171
}

.van-tabbar-item .van-info {
    margin-top: 2px
}

.van-tabbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 50px;
    background-color: #fff
}

.van-tabbar--fixed {
    position: fixed;
    bottom: 0;
    left: 0
}

.van-tabbar--safe-area-inset-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom)
}

.step-btn {
    padding: 30px 15px 70px
}

.step-btn p {
    text-align: center;
    font-size: 14px;
    line-height: 2;
    padding: 10px
}

.step-btn a {
    color: #999
}

.step-btn a {
    color: #fff;
    background: #f664bf;
    width: 200px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    border-radius: 50px;
}

.top-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: #fff;
    /* background: #f664bf; */
    height: 200px;
    background: url(/yxf/static/images/my_bg.png) no-repeat;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.top-area-title {
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2666666666666666;
    color: rgb(255 255 255);
}

.account-area {
    background: #f664bf;
    padding: 15px 20px;
    color: #fff;
    height: 200px;
    background: url(/yxf/static/images/my_bg.png) no-repeat;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.junxian {
    margin-bottom: 20px
}

.junxian .pic {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #fff;
    float: left;
    text-align: center;
    overflow: hidden;
    margin-right: 10px
}

.junxian .pic img {
    height: 60px;
    /* border-radius: 0px; */
}

.junxian h3 {
    margin: 0;
    line-height: 2;
    color: #000;
    font-size: 18px;
}

.junxian p {
    margin: 0;
    color: #333;
}

.account-panel {
    font-size: 12px
}

.account-panel a {
    color: #fff
}

.account-panel p {
    text-align: left;
    font-size: 14px;
    margin: 5px 0
}

.kf {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px 0 35px;
    margin-top: -42px;
    text-align: center;
}

.kf-title {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    position: relative;
    margin-bottom: 18px;
}

.kf-title::after, .kf-title::before {
    position: absolute;
    width: 25%;
    height: 1px;
    background-color: #ffaa00;
    content: '';
    top: 9px;
}

.kf-title::after {
    left: 0;
}

.kf-title::before {
    right: 0;
}

.kf>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 10px;
}

.kf>div>div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 50%;
    text-align: center;
    font-size: 14px;
}

.kf>div>div>img {
    border: 1px solid #ffaa00;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.kf>button {
    background: #ffc042;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    color: #000;
    margin-top: 15px;
    font-size: 16px;
    letter-spacing: 10px;
    text-indent: 10px;
}

.step-btn {
    padding: 30px 15px 70px;
}

html {
    -webkit-tap-highlight-color: transparent
}

a {
    text-decoration: none
}

[class*=van-]:focus, a:focus, button:focus, input:focus, textarea:focus {
    outline: none
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none
}

button, input, textarea {
    color: inherit;
    font: inherit
}

.van-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.van-multi-ellipsis--l2 {
    -webkit-line-clamp: 2
}

.van-multi-ellipsis--l2, .van-multi-ellipsis--l3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical
}

.van-multi-ellipsis--l3 {
    -webkit-line-clamp: 3
}

.van-clearfix:after {
    display: table;
    clear: both;
    content: ""
}

[class*=van-hairline]:after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    border: 0 solid #f3f3f3;
    -webkit-transform: scale(.5);
    transform: scale(.5)
}

.van-hairline, .van-hairline--bottom, .van-hairline--left, .van-hairline--right, .van-hairline--surround, .van-hairline--top, .van-hairline--top-bottom {
    position: relative
}

.van-hairline--top:after {
    border-top-width: 1px
}

.van-hairline--left:after {
    border-left-width: 1px
}

.van-hairline--right:after {
    border-right-width: 1px
}

.van-hairline--bottom:after {
    border-bottom-width: 1px
}

.van-hairline--top-bottom:after, .van-hairline-unset--top-bottom:after {
    border-width: 1px 0
}

.van-hairline--surround:after {
    border-width: 1px
}

@-webkit-keyframes van-slide-up-enter {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes van-slide-up-enter {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@-webkit-keyframes van-slide-up-leave {
    to {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes van-slide-up-leave {
    to {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@-webkit-keyframes van-slide-down-enter {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes van-slide-down-enter {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@-webkit-keyframes van-slide-down-leave {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes van-slide-down-leave {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@-webkit-keyframes van-slide-left-enter {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes van-slide-left-enter {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-webkit-keyframes van-slide-left-leave {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes van-slide-left-leave {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-webkit-keyframes van-slide-right-enter {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes van-slide-right-enter {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@-webkit-keyframes van-slide-right-leave {
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes van-slide-right-leave {
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@-webkit-keyframes van-fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes van-fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes van-fade-out {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes van-fade-out {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes van-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes van-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.van-fade-enter-active {
    -webkit-animation: van-fade-in .3s;
    animation: van-fade-in .3s
}

.van-fade-leave-active {
    -webkit-animation: van-fade-out .3s;
    animation: van-fade-out .3s
}

.van-slide-up-enter-active {
    -webkit-animation: van-slide-up-enter .3s ease both;
    animation: van-slide-up-enter .3s ease both
}

.van-slide-up-leave-active {
    -webkit-animation: van-slide-up-leave .3s ease both;
    animation: van-slide-up-leave .3s ease both
}

.van-slide-down-enter-active {
    -webkit-animation: van-slide-down-enter .3s ease both;
    animation: van-slide-down-enter .3s ease both
}

.van-slide-down-leave-active {
    -webkit-animation: van-slide-down-leave .3s ease both;
    animation: van-slide-down-leave .3s ease both
}

.van-slide-left-enter-active {
    -webkit-animation: van-slide-left-enter .3s ease both;
    animation: van-slide-left-enter .3s ease both
}

.van-slide-left-leave-active {
    -webkit-animation: van-slide-left-leave .3s ease both;
    animation: van-slide-left-leave .3s ease both
}

.van-slide-right-enter-active {
    -webkit-animation: van-slide-right-enter .3s ease both;
    animation: van-slide-right-enter .3s ease both
}

.van-slide-right-leave-active {
    -webkit-animation: van-slide-right-leave .3s ease both;
    animation: van-slide-right-leave .3s ease both
}

.van-info {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    min-width: 16px;
    padding: 0 3px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
    line-height: 14px;
    text-align: center;
    background-color: #ee0a24;
    border: 1px solid #fff;
    border-radius: 16px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    -webkit-transform-origin: 100%;
    transform-origin: 100%
}

.van-info--dot {
    width: 8px;
    min-width: 0;
    height: 8px;
    background-color: #ee0a24;
    border-radius: 100%
}

@font-face {
    font-weight: 400;
    font-family: vant-icon;
    font-style: normal;
    font-display: auto;
    src: url(https://img.yzcdn.cn/vant/vant-icon-0bc654.woff2) format("woff2"), url(https://img.yzcdn.cn/vant/vant-icon-0bc654.woff) format("woff"), url(https://img.yzcdn.cn/vant/vant-icon-0bc654.ttf) format("truetype")
}

.van-icon {
    position: relative;
    font: 14px/1 vant-icon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}

.van-icon, .van-icon:before {
    display: inline-block
}

.van-icon-add-o:before {
    content: "\F000"
}

.van-icon-add-square:before {
    content: "\F001"
}

.van-icon-add:before {
    content: "\F002"
}

.van-icon-after-sale:before {
    content: "\F003"
}

.van-icon-aim:before {
    content: "\F004"
}

.van-icon-alipay:before {
    content: "\F005"
}

.van-icon-apps-o:before {
    content: "\F006"
}

.van-icon-arrow-down:before {
    content: "\F007"
}

.van-icon-arrow-left:before {
    content: "\F008"
}

.van-icon-arrow-up:before {
    content: "\F009"
}

.van-icon-arrow:before {
    content: "\F00A";
    margin-top: 5px;
}

.van-icon-ascending:before {
    content: "\F00B"
}

.van-icon-audio:before {
    content: "\F00C"
}

.van-icon-award-o:before {
    content: "\F00D"
}

.van-icon-award:before {
    content: "\F00E"
}

.van-icon-bag-o:before {
    content: "\F00F"
}

.van-icon-bag:before {
    content: "\F010"
}

.van-icon-balance-list-o:before {
    content: "\F011"
}

.van-icon-balance-list:before {
    content: "\F012"
}

.van-icon-balance-o:before {
    content: "\F013"
}

.van-icon-balance-pay:before {
    content: "\F014"
}

.van-icon-bar-chart-o:before {
    content: "\F015"
}

.van-icon-bars:before {
    content: "\F016"
}

.van-icon-bell:before {
    content: "\F017"
}

.van-icon-bill-o:before {
    content: "\F018";
    padding-top: 3px;
}

.van-icon-bill:before {
    content: "\F019"
}

.van-icon-birthday-cake-o:before {
    content: "\F01A"
}

.van-icon-bookmark-o:before {
    content: "\F01B"
}

.van-icon-bookmark:before {
    content: "\F01C"
}

.van-icon-browsing-history-o:before {
    content: "\F01D"
}

.van-icon-browsing-history:before {
    content: "\F01E"
}

.van-icon-brush-o:before {
    content: "\F01F"
}

.van-icon-bulb-o:before {
    content: "\F020"
}

.van-icon-bullhorn-o:before {
    content: "\F021"
}

.van-icon-calender-o:before {
    content: "\F022"
}

.van-icon-card:before {
    content: "\F023"
}

.van-icon-cart-circle-o:before {
    content: "\F024"
}

.van-icon-cart-circle:before {
    content: "\F025"
}

.van-icon-cart-o:before {
    content: "\F026"
}

.van-icon-cart:before {
    content: "\F027"
}

.van-icon-cash-back-record:before {
    content: "\F028"
}

.van-icon-cash-on-deliver:before {
    content: "\F029"
}

.van-icon-cashier-o:before {
    content: "\F02A"
}

.van-icon-certificate:before {
    content: "\F02B"
}

.van-icon-chart-trending-o:before {
    content: "\F02C"
}

.van-icon-chat-o:before {
    content: "\F02D"
}

.van-icon-chat:before {
    content: "\F02E"
}

.van-icon-checked:before {
    content: "\F02F"
}

.van-icon-circle:before {
    content: "\F030"
}

.van-icon-clear:before {
    content: "\F031"
}

.van-icon-clock-o:before {
    content: "\F032"
}

.van-icon-clock:before {
    content: "\F033"
}

.van-icon-close:before {
    content: "\F034"
}

.van-icon-closed-eye:before {
    content: "\F035"
}

.van-icon-cluster-o:before {
    content: "\F036"
}

.van-icon-cluster:before {
    content: "\F037"
}

.van-icon-column:before {
    content: "\F038"
}

.van-icon-comment-circle-o:before {
    content: "\F039"
}

.van-icon-comment-circle:before {
    content: "\F03A"
}

.van-icon-comment-o:before {
    content: "\F03B"
}

.van-icon-comment:before {
    content: "\F03C"
}

.van-icon-completed:before {
    content: "\F03D"
}

.van-icon-contact:before {
    content: "\F03E"
}

.van-icon-coupon-o:before {
    content: "\F03F"
}

.van-icon-coupon:before {
    content: "\F040"
}

.van-icon-credit-pay:before {
    content: "\F041"
}

.van-icon-cross:before {
    content: "\F042"
}

.van-icon-debit-pay:before {
    content: "\F043"
}

.van-icon-delete:before {
    content: "\F044"
}

.van-icon-descending:before {
    content: "\F045"
}

.van-icon-description:before {
    content: "\F046"
}

.van-icon-desktop-o:before {
    content: "\F047"
}

.van-icon-diamond-o:before {
    content: "\F048"
}

.van-icon-diamond:before {
    content: "\F049"
}

.van-icon-discount:before {
    content: "\F04A"
}

.van-icon-down:before {
    content: "\F04B"
}

.van-icon-ecard-pay:before {
    content: "\F04C"
}

.van-icon-edit:before {
    content: "\F04D"
}

.van-icon-ellipsis:before {
    content: "\F04E"
}

.van-icon-empty:before {
    content: "\F04F"
}

.van-icon-envelop-o:before {
    content: "\F050"
}

.van-icon-exchange:before {
    content: "\F051"
}

.van-icon-expand-o:before {
    content: "\F052"
}

.van-icon-expand:before {
    content: "\F053"
}

.van-icon-eye-o:before {
    content: "\F054"
}

.van-icon-eye:before {
    content: "\F055"
}

.van-icon-fail:before {
    content: "\F056"
}

.van-icon-failure:before {
    content: "\F057"
}

.van-icon-filter-o:before {
    content: "\F058"
}

.van-icon-fire-o:before {
    content: "\F059"
}

.van-icon-fire:before {
    content: "\F05A"
}

.van-icon-flag-o:before {
    content: "\F05B"
}

.van-icon-flower-o:before {
    content: "\F05C"
}

.van-icon-free-postage:before {
    content: "\F05D"
}

.van-icon-friends-o:before {
    content: "\F05E"
}

.van-icon-friends:before {
    content: "\F05F"
}

.van-icon-gem-o:before {
    content: "\F060"
}

.van-icon-gem:before {
    content: "\F061"
}

.van-icon-gift-card-o:before {
    content: "\F062"
}

.van-icon-gift-card:before {
    content: "\F063"
}

.van-icon-gift-o:before {
    content: "\F064"
}

.van-icon-gift:before {
    content: "\F065"
}

.van-icon-gold-coin-o:before {
    content: "\F066"
}

.van-icon-gold-coin:before {
    content: "\F067"
}

.van-icon-good-job-o:before {
    content: "\F068"
}

.van-icon-good-job:before {
    content: "\F069"
}

.van-icon-goods-collect-o:before {
    content: "\F06A"
}

.van-icon-goods-collect:before {
    content: "\F06B"
}

.van-icon-graphic:before {
    content: "\F06C"
}

.van-icon-home-o:before {
    content: "\F06D"
}

.van-icon-hot-o:before {
    content: "\F06E"
}

.van-icon-hot-sale-o:before {
    content: "\F06F"
}

.van-icon-hot-sale:before {
    content: "\F070"
}

.van-icon-hot:before {
    content: "\F071"
}

.van-icon-hotel-o:before {
    content: "\F072"
}

.van-icon-idcard:before {
    content: "\F073"
}

.van-icon-info-o:before {
    content: "\F074"
}

.van-icon-info:before {
    content: "\F075"
}

.van-icon-invition:before {
    content: "\F076"
}

.van-icon-label-o:before {
    content: "\F077"
}

.van-icon-label:before {
    content: "\F078"
}

.van-icon-like-o:before {
    content: "\F079"
}

.van-icon-like:before {
    content: "\F07A"
}

.van-icon-live:before {
    content: "\F07B"
}

.van-icon-location-o:before {
    content: "\F07C"
}

.van-icon-location:before {
    content: "\F07D"
}

.van-icon-lock:before {
    content: "\F07E"
}

.van-icon-logistics:before {
    content: "\F07F"
}

.van-icon-manager-o:before {
    content: "\F080"
}

.van-icon-manager:before {
    content: "\F081"
}

.van-icon-map-marked:before {
    content: "\F082"
}

.van-icon-medel-o:before {
    content: "\F083"
}

.van-icon-medel:before {
    content: "\F084"
}

.van-icon-more-o:before {
    content: "\F085"
}

.van-icon-more:before {
    content: "\F086"
}

.van-icon-music-o:before {
    content: "\F087"
}

.van-icon-music:before {
    content: "\F088"
}

.van-icon-new-arrival-o:before {
    content: "\F089"
}

.van-icon-new-arrival:before {
    content: "\F08A"
}

.van-icon-new-o:before {
    content: "\F08B"
}

.van-icon-new:before {
    content: "\F08C"
}

.van-icon-newspaper-o:before {
    content: "\F08D"
}

.van-icon-notes-o:before {
    content: "\F08E"
}

.van-icon-orders-o:before {
    content: "\F08F"
}

.van-icon-other-pay:before {
    content: "\F090"
}

.van-icon-paid:before {
    content: "\F091"
}

.van-icon-passed:before {
    content: "\F092"
}

.van-icon-pause-circle-o:before {
    content: "\F093"
}

.van-icon-pause-circle:before {
    content: "\F094"
}

.van-icon-pause:before {
    content: "\F095"
}

.van-icon-peer-pay:before {
    content: "\F096"
}

.van-icon-pending-payment:before {
    content: "\F097"
}

.van-icon-phone-circle-o:before {
    content: "\F098"
}

.van-icon-phone-circle:before {
    content: "\F099"
}

.van-icon-phone-o:before {
    content: "\F09A"
}

.van-icon-phone:before {
    content: "\F09B"
}

.van-icon-photo-o:before {
    content: "\F09C"
}

.van-icon-photo:before {
    content: "\F09D"
}

.van-icon-photograph:before {
    content: "\F09E"
}

.van-icon-play-circle-o:before {
    content: "\F09F"
}

.van-icon-play-circle:before {
    content: "\F0A0"
}

.van-icon-play:before {
    content: "\F0A1"
}

.van-icon-plus:before {
    content: "\F0A2"
}

.van-icon-point-gift-o:before {
    content: "\F0A3";
    padding-top: 3px;
}

.van-icon-point-gift:before {
    content: "\F0A4"
}

.van-icon-points:before {
    content: "\F0A5"
}

.van-icon-printer:before {
    content: "\F0A6"
}

.van-icon-qr-invalid:before {
    content: "\F0A7"
}

.van-icon-qr:before {
    content: "\F0A8"
}

.van-icon-question-o:before {
    content: "\F0A9"
}

.van-icon-question:before {
    content: "\F0AA"
}

.van-icon-records:before {
    content: "\F0AB"
}

.van-icon-refund-o:before {
    content: "\F0AC"
}

.van-icon-replay:before {
    content: "\F0AD"
}

.van-icon-scan:before {
    content: "\F0AE"
}

.van-icon-search:before {
    content: "\F0AF"
}

.van-icon-send-gift-o:before {
    content: "\F0B0"
}

.van-icon-send-gift:before {
    content: "\F0B1"
}

.van-icon-service-o:before {
    content: "\F0B2"
}

.van-icon-service:before {
    content: "\F0B3"
}

.van-icon-setting-o:before {
    content: "\F0B4"
}

.van-icon-setting:before {
    content: "\F0B5"
}

.van-icon-share:before {
    content: "\F0B6"
}

.van-icon-shop-collect-o:before {
    content: "\F0B7"
}

.van-icon-shop-collect:before {
    content: "\F0B8"
}

.van-icon-shop-o:before {
    content: "\F0B9"
}

.van-icon-shop:before {
    content: "\F0BA"
}

.van-icon-shopping-cart-o:before {
    content: "\F0BB"
}

.van-icon-shopping-cart:before {
    content: "\F0BC"
}

.van-icon-shrink:before {
    content: "\F0BD"
}

.van-icon-sign:before {
    content: "\F0BE"
}

.van-icon-smile-comment-o:before {
    content: "\F0BF"
}

.van-icon-smile-comment:before {
    content: "\F0C0"
}

.van-icon-smile-o:before {
    content: "\F0C1"
}

.van-icon-smile:before {
    content: "\F0C2"
}

.van-icon-star-o:before {
    content: "\F0C3"
}

.van-icon-star:before {
    content: "\F0C4"
}

.van-icon-stop-circle-o:before {
    content: "\F0C5"
}

.van-icon-stop-circle:before {
    content: "\F0C6"
}

.van-icon-stop:before {
    content: "\F0C7"
}

.van-icon-success:before {
    content: "\F0C8"
}

.van-icon-thumb-circle-o:before {
    content: "\F0C9"
}

.van-icon-thumb-circle:before {
    content: "\F0CA"
}

.van-icon-todo-list-o:before {
    content: "\F0CB"
}

.van-icon-todo-list:before {
    content: "\F0CC"
}

.van-icon-tosend:before {
    content: "\F0CD"
}

.van-icon-tv-o:before {
    content: "\F0CE"
}

.van-icon-umbrella-circle:before {
    content: "\F0CF"
}

.van-icon-underway-o:before {
    content: "\F0D0"
}

.van-icon-underway:before {
    content: "\F0D1"
}

.van-icon-upgrade:before {
    content: "\F0D2"
}

.van-icon-user-circle-o:before {
    content: "\F0D3"
}

.van-icon-user-o:before {
    content: "\F0D4"
}

.van-icon-video-o:before {
    content: "\F0D5"
}

.van-icon-video:before {
    content: "\F0D6"
}

.van-icon-vip-card-o:before {
    content: "\F0D7"
}

.van-icon-vip-card:before {
    content: "\F0D8"
}

.van-icon-volume-o:before {
    content: "\F0D9"
}

.van-icon-volume:before {
    content: "\F0DA"
}

.van-icon-wap-home-o:before {
    content: "\F0DB"
}

.van-icon-wap-home:before {
    content: "\F0DC"
}

.van-icon-wap-nav:before {
    content: "\F0DD"
}

.van-icon-warn-o:before {
    content: "\F0DE"
}

.van-icon-warning-o:before {
    content: "\F0DF"
}

.van-icon-warning:before {
    content: "\F0E0"
}

.van-icon-weapp-nav:before {
    content: "\F0E1"
}

.van-icon-wechat:before {
    content: "\F0E2"
}

.van-icon-youzan-shield:before {
    content: "\F0E3"
}

.van-icon__image {
    width: 1em;
    height: 1em
}

.van-loading {
    color: #c8c9cc;
    font-size: 0
}

.van-loading, .van-loading__spinner {
    position: relative;
    vertical-align: middle
}

.van-loading__spinner {
    display: inline-block;
    width: 30px;
    max-width: 100%;
    height: 30px;
    max-height: 100%;
    -webkit-animation: van-rotate .8s linear infinite;
    animation: van-rotate .8s linear infinite
}

.van-loading__spinner--spinner {
    -webkit-animation-timing-function: steps(12);
    animation-timing-function: steps(12)
}

.van-loading__spinner--spinner i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.van-loading__spinner--spinner i:before {
    display: block;
    width: 2px;
    height: 25%;
    margin: 0 auto;
    background-color: currentColor;
    border-radius: 40%;
    content: " "
}

.van-loading__spinner--circular {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.van-loading__circular {
    display: block;
    width: 100%;
    height: 100%
}

.van-loading__circular circle {
    -webkit-animation: van-circular 1.5s ease-in-out infinite;
    animation: van-circular 1.5s ease-in-out infinite;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round
}

.van-loading__text {
    display: inline-block;
    margin-left: 8px;
    color: #969799;
    font-size: 14px;
    vertical-align: middle
}

.van-loading--vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.van-loading--vertical .van-loading__text {
    margin: 8px 0 0
}

@-webkit-keyframes van-circular {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40
    }
    to {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120
    }
}

@keyframes van-circular {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40
    }
    to {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120
    }
}

.van-loading__spinner--spinner i:first-of-type {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 1
}

.van-loading__spinner--spinner i:nth-of-type(2) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    opacity: .9375
}

.van-loading__spinner--spinner i:nth-of-type(3) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: .875
}

.van-loading__spinner--spinner i:nth-of-type(4) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    opacity: .8125
}

.van-loading__spinner--spinner i:nth-of-type(5) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    opacity: .75
}

.van-loading__spinner--spinner i:nth-of-type(6) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: .6875
}

.van-loading__spinner--spinner i:nth-of-type(7) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    opacity: .625
}

.van-loading__spinner--spinner i:nth-of-type(8) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    opacity: .5625
}

.van-loading__spinner--spinner i:nth-of-type(9) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    opacity: .5
}

.van-loading__spinner--spinner i:nth-of-type(10) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    opacity: .4375
}

.van-loading__spinner--spinner i:nth-of-type(11) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    opacity: .375
}

.van-loading__spinner--spinner i:nth-of-type(12) {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    opacity: .3125
}

.van-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 44px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    border-radius: 2px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%
}

.van-button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: inherit;
    border-color: #000;
    border-radius: inherit;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    content: " "
}

.van-button:active:before {
    opacity: .1
}

.van-button--disabled:before, .van-button--loading:before {
    display: none
}

.van-button--default {
    color: #323233;
    background-color: #fff;
    border: 1px solid #f3f3f3
}

.van-button--info, .van-button--primary {
    color: #fff;
    background-color: #354171;
    border: 1px solid #354171
}

.van-button--danger {
    color: #fff;
    background-color: #ee0a24;
    border: 1px solid #ee0a24
}

.van-button--warning {
    color: #fff;
    background-color: #ffa200;
    border: 1px solid #ffa200
}

.van-button--plain {
    background-color: #fff
}

.van-button--plain.van-button--info, .van-button--plain.van-button--primary {
    color: #354171
}

.van-button--plain.van-button--danger {
    color: #ee0a24
}

.van-button--plain.van-button--warning {
    color: #ff0000
}

.van-button--large {
    width: 100%;
    height: 50px;
    line-height: 48px
}

.van-button--normal {
    padding: 0 15px;
    font-size: 14px
}

.van-button--small {
    min-width: 60px;
    height: 30px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 28px
}

.van-button__loading {
    display: inline-block;
    color: inherit;
    vertical-align: top
}

.van-button--mini {
    display: inline-block;
    min-width: 50px;
    height: 22px;
    font-size: 10px;
    line-height: 20px
}

.van-button--mini+.van-button--mini {
    margin-left: 4px
}

.van-button--block {
    display: block;
    width: 100%
}

.van-button--disabled {
    opacity: .5
}

.van-button--round {
    border-radius: 999px
}

.van-button--square {
    border-radius: 0
}

.van-button__icon {
    min-width: 1em;
    font-size: 1.2em;
    line-height: inherit;
    vertical-align: top
}

.van-button__icon+.van-button__text, .van-button__loading+.van-button__text {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top
}

.van-button--hairline {
    border-width: 0
}

.van-button--hairline:after {
    border-color: inherit;
    border-radius: 4px
}

.van-button--hairline.van-button--round:after {
    border-radius: 999px
}

.van-button--hairline.van-button--square:after {
    border-radius: 0
}

.van-cell {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px;
    overflow: hidden;
    color: #323233;
    font-size: 15px;
    line-height: 24px;
    /* background-color: #fff; */
}

.van-cell:not(:last-child):after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 16px;
    border-bottom: 1px solid #f3f3f3;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.van-cell--borderless:after {
    display: none
}

.van-cell__label {
    margin-top: 3px;
    color: #969799;
    font-size: 12px;
    line-height: 18px
}

.van-cell__title, .van-cell__value {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    /* line-height: 36px; */
    /* border: 1px solid; */
}

.van-cell__value {
    position: relative;
    overflow: hidden;
    color: #969799;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word
}

.van-cell__value--alone {
    color: #323233;
    text-align: left
}

.van-cell__left-icon, .van-cell__right-icon {
    min-width: 1em;
    height: 24px;
    font-size: 16px;
    line-height: 24px
}

.van-cell__left-icon {
    margin-right: 5px
}

.van-cell__right-icon {
    margin-left: 5px;
    color: #969799
}

.van-cell--clickable:active {
    background-color: #f2f3f5
}

.van-cell--required {
    overflow: visible
}

.van-cell--required:before {
    position: absolute;
    left: 8px;
    color: #ee0a24;
    font-size: 14px;
    content: "*"
}

.van-cell--center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.van-cell--large {
    padding-top: 12px;
    padding-bottom: 12px
}

.van-cell--large .van-cell__title {
    font-size: 16px
}

.van-cell--large .van-cell__label {
    font-size: 14px
}

.van-cell-group {
    background-color: #fafafa7d;
    margin-top: -140px !important;
    /* border-radius: 35px; */
    /* margin: 1px; */
    /* width: 98%; */
    margin-bottom: 53px !important;
}

.van-cell-group__title {
    padding: 16px 16px 8px;
    color: #969799;
    font-size: 14px;
    line-height: 16px
}

.van-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7)
}

.van-overflow-hidden {
    overflow: hidden!important
}

.van-popup {
    position: fixed;
    max-height: 100%;
    overflow-y: auto;
    background-color: #fff;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-overflow-scrolling: touch
}

.van-popup--center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}

.van-popup--center.van-popup--round {
    border-radius: 20px
}

.van-popup--top {
    top: 0;
    left: 0;
    width: 100%
}

.van-popup--top.van-popup--round {
    border-radius: 0 0 20px 20px
}

.van-popup--right {
    top: 50%;
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.van-popup--right.van-popup--round {
    border-radius: 20px 0 0 20px
}

.van-popup--bottom {
    bottom: 0;
    left: 0;
    width: 100%
}

.van-popup--bottom.van-popup--round {
    border-radius: 20px 20px 0 0
}

.van-popup--left {
    top: 50%;
    left: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.van-popup--left.van-popup--round {
    border-radius: 0 20px 20px 0
}

.van-popup--safe-area-inset-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom)
}

.van-popup-slide-top-enter, .van-popup-slide-top-leave-active {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}

.van-popup-slide-right-enter, .van-popup-slide-right-leave-active {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0)
}

.van-popup-slide-bottom-enter, .van-popup-slide-bottom-leave-active {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}

.van-popup-slide-left-enter, .van-popup-slide-left-leave-active {
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0)
}

.van-popup__close-icon {
    position: absolute;
    z-index: 1;
    color: #969799;
    font-size: 18px
}

.van-popup__close-icon:active {
    opacity: .7
}

.van-popup__close-icon--top-left {
    top: 16px;
    left: 16px
}

.van-popup__close-icon--top-right {
    top: 16px;
    right: 16px
}

.van-popup__close-icon--bottom-left {
    bottom: 16px;
    left: 16px
}

.van-popup__close-icon--bottom-right {
    right: 16px;
    bottom: 16px
}

.van-image {
    position: relative;
    display: inline-block
}

.van-image--round {
    overflow: hidden;
    border-radius: 50%
}

.van-image--round img {
    border-radius: inherit
}

.van-image__error, .van-image__img, .van-image__loading {
    display: block;
    width: 100%;
    height: 100%
}

.van-image__error, .van-image__loading {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #969799;
    font-size: 14px;
    background-color: #f8f8f8
}

.van-dialog {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 320px;
    overflow: hidden;
    font-size: 16px;
    background-color: #fff;
    border-radius: 16px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform
}

@media (max-width:321px) {
    .van-dialog {
        width: 90%
    }
}

.van-dialog__header {
    padding-top: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center
}

.van-dialog__header--isolated {
    padding: 24px 0
}

.van-dialog__message {
    max-height: 60vh;
    padding: 24px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    text-align: center;
    word-wrap: break-word;
    -webkit-overflow-scrolling: touch
}

.van-dialog__message--has-title {
    padding-top: 12px;
    color: #7d7e80
}

.van-dialog__message--left {
    text-align: left
}

.van-dialog__message--right {
    text-align: right
}

.van-dialog__footer {
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none
}

.van-dialog__footer--buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.van-dialog__footer--buttons .van-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.van-dialog .van-button {
    border: 0
}

.van-dialog__confirm, .van-dialog__confirm:active {
    color: #354171
}

.van-dialog-bounce-enter {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(.7);
    transform: translate3d(-50%, -50%, 0) scale(.7);
    opacity: 0
}

.van-dialog-bounce-leave-active {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(.9);
    transform: translate3d(-50%, -50%, 0) scale(.9);
    opacity: 0
}

.van-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-sizing: content-box;
    width: 90px;
    max-width: 70%;
    min-height: 90px;
    padding: 16px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    text-align: center;
    word-wrap: break-word;
    background-color: rgba(50, 50, 51, .88);
    border-radius: 4px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}

.van-toast--unclickable * {
    pointer-events: none
}

.van-toast--html, .van-toast--text {
    width: -webkit-fit-content;
    width: fit-content;
    min-width: 96px;
    min-height: unset;
    padding: 8px 12px
}

.van-toast--html .van-toast__text, .van-toast--text .van-toast__text {
    margin-top: 0
}

.van-toast--top {
    top: 50px
}

.van-toast--bottom {
    top: auto;
    bottom: 50px
}

.van-toast__icon {
    font-size: 40px
}

.van-toast__loading {
    padding: 4px;
    color: #fff
}

.van-toast__text {
    margin-top: 8px
}

.copyText {
    background: #f664bf;
    border: solid 1px #f664bf;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.downloadA {
    background: #f664bf;
    border: solid 1px #f664bf;
    padding: 6px 2px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    width: 150px;
    margin: 10px auto;
    display: block;
}

p.downloadIos {
    margin-top: 35px;
}
